1. What are data structures, and why are they important?
ANS--> Data structures are ways of organizing and storing data so it can be used efficiently. They are important because they make data management, retrieval, and processing faster and easier.

2. Explain the difference between mutable and immutable data types with examples.
Ans---> Mutable data types can be changed after they are created. Example: lists, dictionaries, sets.
Immutable data types cannot be changed once created. Example: tuples, strings, integers.

3. What are the main differences between lists and tuples in Python?
Ans--->Syntax → Lists use [], Tuples use ().

Mutability → Lists are mutable, Tuples are immutable .

Performance → Tuples are faster than lists because they are fixed.

Use case → Lists are used when data needs to change; Tuples when data should stay constant.

4. Describe how dictionaries store data.
Ans--->dictionaries store data in key and value pairs. each key is unique and used to access its value. internally it uses hash table for fast searching.

5. Why might you use a set instead of a list in Python?
Ans---> sets are used when we don’t want duplicate values and only need unique items.

6. What is a string in Python, and how is it different from a list?
Ans---> string is a sequence of characters written in quotes. list can store different data types but string only stores characters and is immutable.

7. How do tuples ensure data integrity in Python?
Ans--->tuples cannot be changed after creation so the data stays safe and fixed.

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans--->hash table is a data structure that maps keys to values using hash function. python dictionaries are built using hash tables.

9. Can lists contain different data types in Python?
Ans--->yes lists can contain different data types like int, string, float all together.

10.  Explain why strings are immutable in Python.
Ans--->strings are immutable because once created their value cannot be changed. this makes them safe and memory efficient.

11. What advantages do dictionaries offer over lists for certain tasks?
Ans---> dictionaries give fast access using keys while lists need searching one by one.

12. Describe a scenario where using a tuple would be preferable over a list.
Ans--->tuple is better when data should not change like storing months of year or fixed coordinates.

13. How do sets handle duplicate values in Python?
Ans--->sets automatically remove duplicates and keep only unique values.

14. How does the “in” keyword work differently for lists and dictionaries?
Ans--->for lists it checks if item exists. for dictionaries it checks if key exists.

15. Can you modify the elements of a tuple? Explain why or why not.
Ans--->no we cannot modify tuple elements because tuples are immutable

16. What is a nested dictionary, and give an example of its use case?
Ans--->nested dictionary means dictionary inside another dictionary.
example: { "student": {"name":"john","age":20} }

17. Describe the time complexity of accessing elements in a dictionary.
Ans--->accessing elements in dictionary is O(1) on average because of hash table.

18. In what situations are lists preferred over dictionaries?
Ans--->lists are better when order of elements matters or when we just need simple collection without keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans--->dictionaries are unordered because they store data by hash not position. so we cannot rely on index order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans--->list uses index numbers to access data. dictionary uses keys to access data.

**Practical Questions**

In [3]:
# 1. Write a code to create a string with your name and print it
name = "Ayush"
print(name)

Ayush

In [2]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
word = "Python Programming"
print(word[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [1]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [3]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [4]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [5]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [1]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
letter = (100, 200, 300)
print(letter)

(100, 200, 300)

In [2]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [3]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
minimum_value=min(nums)
print(minimum_value)

5

In [4]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [5]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit = ('apple','mango','banana')
if "kiwi" in fruit:
    print("Kiwi is there")
else:
    print("Kiwi is not there")

Kiwi is not there

In [7]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [8]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [9]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [10]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [11]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [12]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [13]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [14]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [15]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [16]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [17]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [18]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[6, 9, 28, 93, 97]

In [19]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [20]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [21]:
# 30. Write a code to convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
unique = set(words)
print(unique)

{'banana', 'cherry', 'apple'}